@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url('avenir-next-font/AvenirNext-Heavy.eot');
  src: url('avenir-next-font/AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-Heavy.woff') format('woff'),
    url('avenir-next-font/AvenirNext-Heavy.ttf')  format('truetype');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('avenir-next-font/AvenirNext-Regular.eot');
  src: url('avenir-next-font/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-Regular.woff') format('woff'),
    url('avenir-next-font/AvenirNext-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-BoldItalic';
  src: url('avenir-next-font/AvenirNext-BoldItalic.eot');
  src: url('avenir-next-font/AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-BoldItalic.woff') format('woff'),
    url('avenir-next-font/AvenirNext-BoldItalic.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('avenir-next-font/AvenirNext-Bold.eot');
  src: url('avenir-next-font/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-Bold.woff') format('woff'),
    url('avenir-next-font/AvenirNext-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('avenir-next-font/AvenirNext-DemiBold.eot');
  src: url('avenir-next-font/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-DemiBold.woff') format('woff'),
    url('avenir-next-font/AvenirNext-DemiBold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBoldItalic';
  src: url('avenir-next-font/AvenirNext-DemiBoldItalic.eot');
  src: url('avenir-next-font/AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-DemiBoldItalic.woff') format('woff'),
    url('avenir-next-font/AvenirNext-DemiBoldItalic.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url('avenir-next-font/AvenirNext-UltraLight.eot');
  src: url('avenir-next-font/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-UltraLight.woff') format('woff'),
    url('avenir-next-font/AvenirNext-UltraLight.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('avenir-next-font/AvenirNext-MediumItalic.eot');
  src: url('avenir-next-font/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-MediumItalic.woff') format('woff'),
    url('avenir-next-font/AvenirNext-MediumItalic.ttf')  format('truetype');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-Italic';
  src: url('avenir-next-font/AvenirNext-Italic.eot');
  src: url('avenir-next-font/AvenirNext-Italic.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-Italic.woff') format('woff'),
    url('avenir-next-font/AvenirNext-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-UltraLightItalic';
  src: url('avenir-next-font/AvenirNext-UltraLightItalic.eot');
  src: url('avenir-next-font/AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-UltraLightItalic.woff') format('woff'),
    url('avenir-next-font/AvenirNext-UltraLightItalic.ttf')  format('truetype');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('avenir-next-font/AvenirNext-Medium.eot');
  src: url('avenir-next-font/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-Medium.woff') format('woff'),
    url('avenir-next-font/AvenirNext-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AvenirNext-HeavyItalic';
  src: url('avenir-next-font/AvenirNext-HeavyItalic.eot');
  src: url('avenir-next-font/AvenirNext-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('avenir-next-font/AvenirNext-HeavyItalic.woff') format('woff'),
    url('avenir-next-font/AvenirNext-HeavyItalic.ttf')  format('truetype');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

body {
  font-family: 'AvenirNext-UltraLight', 'Lato', sans-serif;
  color: #000;
  font-size: 32px;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: none;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: underline;
}

.spacer-90{
  height: 90px;
  width: 100%;
}

.spacer-180{
  height: 180px;
  width: 100%;
}


/*------------ main page ------------*/

.hello-background{
  background:
    linear-gradient(
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.3)),
    url(https://cloud.githubusercontent.com/assets/5771544/8023278/60005ca0-0cb9-11e5-9cb8-890053b14956.jpg)
    no-repeat
    center
    center;
  background-size: cover;
  position: relative;
}

.hello-text{
  font-family: 'Pacifico';
  font-size: 300%;
  font-weight: 100;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
}

.hello2-text{
  font-family: 'Muli';
  font-size: 70%;
  font-weight: 100;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
}

.label-text{
  font-family: 'Merriweather';
  font-size: 50%;
  color: #303030;
  margin-top: 10%;
}

.about-background {
  background: #F8CA42;
  position:relative;
}

.about-text {
  font-family: 'AvenirNext-Bold';
  font-size: 240%;
  color: #000;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-top: 3%;
  margin-bottom: 5%;
}

.personal-background {
  background:
    linear-gradient(
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.2)),
    url(https://cloud.githubusercontent.com/assets/5771544/9319313/0dc2b1a0-4502-11e5-8a89-a9e18f392a10.JPG)
    no-repeat
    center
    center;
  background-size: cover;
  position: relative;
}

.personal-text {
  font-family: 'AvenirNext-UltraLight';
  font-size: 80%;
  color: #fff;
  line-height: 1.5;
  margin-top: 3%;
  margin-bottom: 10%;
}

.personal-text a{
  font-family: 'AvenirNext-Regular';
  color: #38c6ff;
}

.personal-text a:hover, a:focus{
  font-family: 'AvenirNext-DemiBold';
  text-decoration: none;
}

.personal-background .label-text{
  color: #b2b2b2;
  margin-top: 52%;
}

.sobrr-background {
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/9020038/cd7d2960-37ad-11e5-82e2-9a1fa74027d4.png)
    no-repeat
    center
    center;
  background-size: cover;
  position: relative;
}

.watershed-background {
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/9029892/cccf4bee-394f-11e5-91f8-e38a6044b1ac.png)
    no-repeat
    center
    center;
  position: relative;
  background-size: cover;
}

.quad-background{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/9303474/14a95196-4493-11e5-8245-b8c7dbbb3e83.png)
    no-repeat
    center
    center;
  position: relative;
  background-size: cover;
}

.compiling-background{
  background:
    linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)),
    url(https://cloud.githubusercontent.com/assets/5771544/9301515/e984aeb6-4483-11e5-97a8-ef3e6231a43e.png)
    no-repeat
    center
    center;
  position: relative;
  background-size: cover;
}

.video-container {
  margin-top: 25%;
}

.video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-title {
  font-family: 'AvenirNext-Regular';
  font-size: 140%;
  color: #fff;
  line-height: 1.2;
  margin-top: 60%;
  margin-bottom: 3%;
}

.project-subtitle {
  font-size: 50%;
  color: #fff;
}

.project-subtitle a{
  font-family: 'AvenirNext-Regular';
}

.project-text {
  font-family: 'AvenirNext-UltraLight';
  font-size: 70%;
  color: #fff;
  border-radius: 20px;
  margin-top: 6%;
  margin-bottom: 6%;
}

.project-text a{
  font-family: 'AvenirNext-Regular';
}

.button {
  margin-bottom: 50%;
}

.contact-background{
  background: #fff;
  position: relative;
}

.contact-text{
  font-family: 'AvenirNext-Bold';
  font-size: 240%;
  color: #000;
  border-radius: 20px;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-top: 3%;
  margin-bottom: 15%;
}

.contact-text a{
  color: #D5433D;
}

.social-text{
  font-family: 'Merriweather';
  font-size: 100%;
  color: #ababab;
  border-radius: 20px;
  letter-spacing: -2px;
  margin-bottom: 5%;
}

.social-text a{
  color: #000;
  font-weight: 500;
}


/*------------- screen sizes -----------*/


@media only screen and (max-width: 40em) {
  body{
    font-family: 'AvenirNext-Regular', 'Lato', sans-serif;
  }
  .hello-text {
    font-size: 180%;
    letter-spacing: 5px;
  }
  .hello2-text {
    font-size: 50%;
    letter-spacing: 5px;
  }
  .about-text {
    font-size: 180%;
  }
  .personal-background {
    background:
      linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
      url(https://cloud.githubusercontent.com/assets/5771544/9319313/0dc2b1a0-4502-11e5-8a89-a9e18f392a10.JPG)
      no-repeat
      center
      center;
    background-size: cover;
    position: relative;
  }
  .project-title {
    margin-top: 40%;
  }
  .compiling-background .project-title {
    margin-top: 15%;
  }
  .button {
    margin-bottom: 30%;
  }
  .sobrr-background {
    background:
      linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
      url(https://cloud.githubusercontent.com/assets/5771544/9020038/cd7d2960-37ad-11e5-82e2-9a1fa74027d4.png)
      no-repeat
      center
      left;
    background-size: cover;
    position: relative;
  }
  .watershed-background {
    background:
      linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
      url(https://cloud.githubusercontent.com/assets/5771544/9029892/cccf4bee-394f-11e5-91f8-e38a6044b1ac.png)
      no-repeat
      center
      center;
    background-size: cover;
    position: relative;
  }
  .quad-background {
    background:
      linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
      url(https://cloud.githubusercontent.com/assets/5771544/9303474/14a95196-4493-11e5-8245-b8c7dbbb3e83.png)
      no-repeat
      center
      left;
    background-size: cover;
    position: relative;
  }
  .project-subtitle a{
    font-family: 'AvenirNext-DemiBold';
  }
  .contact-text {
    font-size: 100%;
  }
  .social-text {
    font-size: 70%;
  }
}


@media only screen and (min-width:40.0625em) and (max-width:64em){
  .project-title {
    font-size: 110%;
  }
  .project-title {
    margin-top: 40%;
  }
  .button {
    margin-bottom: 40%;
  }
  .video-container {
    margin-top: 18%;
  }
  .watershed-background {
    background:
      linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)),
      url(https://cloud.githubusercontent.com/assets/5771544/9029892/cccf4bee-394f-11e5-91f8-e38a6044b1ac.png)
      no-repeat
      center
      center;
    background-size: cover;
    position: relative;
  }
  .quad-background {
    background:
      linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)),
      url(https://cloud.githubusercontent.com/assets/5771544/9303474/14a95196-4493-11e5-8245-b8c7dbbb3e83.png)
      no-repeat
      center
      left;
    background-size: cover;
    position: relative;
  }
  .contact-text {
    font-size: 160%;
  }
}





/*------------- sobrr page -----------*/

.project-page-icon {
  width: 80px;
  height: 80px;
  margin-top: 2%;
  margin-left: 2%;
}

.project-page-title {
  font-family: 'AvenirNext-DemiBold', 'Lato', sans-serif;
  font-size: 150%;
  color: #000;
  margin-top: 4%;
  margin-bottom: 4%;
}

.project-page-subtitle {
  font-family: 'Libre Baskerville', 'Georgia', serif;
  font-size: 62%;
  color: #000;
  margin-top: 0%;
  margin-bottom: 2%;
}

.project-page-text {
  font-family: 'Libre Basketville', 'Georgia', serif;
  font-size: 52%;
  color: #000;
  margin-top: 0%;
  margin-bottom: 4%;
  list-style-type: disc;
}

.project-page-text a {
  color: #2384d1;
  text-decoration: none;
}

.project-page-text a:hover, a:focus {
  text-decoration: underline;
}

ul.project-page-text li {
  width: auto;
  float: left;
  margin-left: 5%;
}