body {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 32px;
}

a {
  color: inherit;
  font-weight: 400;
}
a:hover,a:focus {
  color: inherit;
  text-decoration: underline;
}

.spacer-20{
  height: 20px;
  width: 100%;
}

.spacer-50{
  height: 50px;
  width: 100%;
}

.spacer-90{
  height: 90px;
  width: 100%;
}

.spacer-180{
  height: 180px;
  width: 100%;
}

.spacer-300{
  height: 300px;
  width: 100%;
}

/*------------ main page ------------*/

.model-background{
  background:
    linear-gradient(
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.3)),
    url(https://cloud.githubusercontent.com/assets/5771544/8023278/60005ca0-0cb9-11e5-9cb8-890053b14956.jpg)
    no-repeat
    center
    center;
  background-size: cover;
  background-attachment: fixed;
}

.hello{
  font-family: 'Pacifico';
  font-size: 300%;
  font-weight: 100;
  color: #fff;
  letter-spacing: 6px;
  text-align: center;
}

.hello2{
  font-size: 50%;
  font-weight: 300;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

.bio span{
  background: #FFD500;
  box-shadow: 8px 0 0 #FFD500,-8px 0 0 #FFD500;
  -moz-box-shadow: 8px 0 0 #FFD500,-8px 0 0 #FFD500;
  -webkit-box-shadow: 8px 0 0 #FFD500,-8px 0 0 #FFD500;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 90%;
  font-weight: 300;
  color: #000;
  letter-spacing: 0.3px;
  line-height: 65px;
}

.white-background{
  background-color: #fff;
  position: relative;
}

.project-title{
  font-size: 90%;
  font-weight: 100;
  text-transform: uppercase;
}

.project-company{
  font-weight: 400;
  font-size: 50%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.project-description{
  color: #999;
  font-size: 50%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.break{
  background:
    url('personal-icon.svg')
    no-repeat
    center
    center;
  height: 120px;
  width: 120px;
}

.personal{
  font-weight: 300;
  font-size: 60%;
}

.yellow-background{
  background-color: #FFD500;
  position: relative;
}

.social-buttons-container{
  text-align: center;
  font-size: 140%;
}

.social-buttons-container a{
  color: #fff;
}

.social-buttons-container a:hover{
  color: #000;
  text-decoration: none;
}

.medium-container{
  background:
    url('fonts/icon-medium-w.svg')
    no-repeat
    center
    center;
  height: 38px;
  margin-top: 10px;
}

.medium-container:hover{
  background:
    url('fonts/icon-medium-b.svg')
    no-repeat
    center
    center;
  height: 38px;
  margin-top: 10px;
}

.proj-container{
  margin: 0 auto;
  width: 960px;
}

.proj1{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13134477/a008dc16-d5bb-11e5-90b3-6c412ecbfc69.png)
    no-repeat
    center
    center;
  height: 376px;
/*  width: 960px;*/
  margin-bottom: 40px;
}

.proj-image:hover{
  background-color: #FFD500;
  opacity: 0.7;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.proj2{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13134478/a00e34ea-d5bb-11e5-9199-ee6e6d0723e9.png)
    no-repeat
    center
    center;
  position: relative;
  height: 376px;
/*  width: 620px;*/
  margin-bottom: 40px;
}

.proj3{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13140764/c9ad72c0-d5e8-11e5-9564-43ebcea3337c.png)
    no-repeat
    center
    center;
  position: relative;
  height: 376px;
/*  width: 300px;*/
  margin-bottom: 40px;
}

.proj4{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13134480/a0114d88-d5bb-11e5-9db1-b4ec69534175.png)
    no-repeat
    center
    center;
  position: relative;
  height: 376px;
/*  width: 300px;*/
  margin-bottom: 40px;
}

.proj5{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13134481/a017bdf8-d5bb-11e5-9a2b-3bcbcdbd5ffd.png)
    no-repeat
    center
    center;
  position: relative;
  height: 180px;
/*  width: 620px;*/
  margin-bottom: 40px;
}

.proj6{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13134482/a01921f2-d5bb-11e5-8174-1a02a0c12123.png)
    no-repeat
    center
    center;
  position: relative;
  height: 180px;
/*  width: 300px;*/
  margin-bottom: 40px;
}

.proj7{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13134483/a01f707a-d5bb-11e5-8e92-90638bf2f60e.png)
    no-repeat
    center
    center;
  position: relative;
  height: 376px;
/*  width: 620px;*/
  margin-bottom: 40px;
}

.proj8{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13140872/6311d4ec-d5e9-11e5-9f3c-ba941ee34713.png)
    no-repeat
    center
    center;
  position: relative;
  height: 180px;
/*  width: 620px;*/
  margin-bottom: 40px;
}

.proj9{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13134485/a028bed2-d5bb-11e5-8eca-d32cd4314428.png)
    no-repeat
    center
    center;
  position: relative;
  height: 376px;
/*  width: 300px;*/
  margin-bottom: 40px;
}

.proj10{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13134486/a029d466-d5bb-11e5-824f-a5af3dc966af.png)
    no-repeat
    center
    center;
  position: relative;
  height: 376px;
/*  width: 620px;*/
  margin-bottom: 40px;
}

.proj11{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13134487/a02c85e4-d5bb-11e5-8c29-1149cd0d917d.png)
    no-repeat
    center
    center;
  position: relative;
  height: 180px;
/*  width: 300px;*/
  margin-bottom: 40px;
}

.proj12{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/13140873/63224cd2-d5e9-11e5-9f2d-abe8c8873007.png)
    no-repeat
    center
    center;
  position: relative;
  height: 180px;
/*  width: 960px;*/
}

.credits{
  text-transform: uppercase;
  font-size: 30%;
  letter-spacing: 4px;
  text-align: center;
}


/*------------- screen sizes -----------*/

/* --- tablet --- */

@media only screen and (min-width:40.0625em) and (max-width:64em){

  .spacer-20{
    height: 18px;
    width: 100%;
  }
  .spacer-50{
    height: 45px;
    width: 100%;
  }
  .spacer-90{
    height: 70px;
    width: 100%;
  }
  .spacer-180{
    height: 160px;
    width: 100%;
  }
  .spacer-300{
    height: 180px;
    width: 100%;
  }
  .model-background{
    background: none;
    background-size: none;
    background-attachment: none;
  }
  .model-background-small{
    background:
      linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
      url(https://cloud.githubusercontent.com/assets/5771544/8023278/60005ca0-0cb9-11e5-9cb8-890053b14956.jpg)
      no-repeat
      center
      center;
    position: relative;
    background-size: cover;
  }
  .hello{
    font-size: 260%;
    letter-spacing: 5px;
  }
  .hello2{
    letter-spacing: 8px;
  }
  .bio {
    padding: 24px;
  }
  .bio span{
    font-size: 70%;
    line-height: 60px;
  }
  .project-title, .project-company, .project-description, .personal{
    padding-left: 9px;
  }
  .proj-container{
    width: 600px;
  }
}

/* --- phone --- */

@media only screen and (max-width: 40em) {

  .spacer-20{
    height: 15px;
    width: 100%;
  }
  .spacer-50{
    height: 40px;
    width: 100%;
  }
  .spacer-90{
    height: 60px;
    width: 100%;
  }
  .spacer-180{
    height: 140px;
    width: 100%;
  }
  .spacer-300{
    height: 120px;
    width: 100%;
  }
  .spacer-20-small{
    height: 20px;
    width: 100%;
  }

  .model-background{
    background: none;
    background-size: none;
    background-attachment: none;
  }
  .model-background-small{
    background:
      linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
      url(https://cloud.githubusercontent.com/assets/5771544/8023278/60005ca0-0cb9-11e5-9cb8-890053b14956.jpg)
      no-repeat
      center
      center;
    position: relative;
    background-size: cover;
  }
  .hello{
    font-size: 200%;
    letter-spacing: 4px;
  }
  .hello2{
    font-size: 40%;
    letter-spacing: 4px;
  }
  .bio {
    padding: 24px;
  }
  .bio span{
    font-size: 70%;
    line-height: 60px;
  }
  .project-title, .project-company, .project-description, .personal{
    padding-left: 12px;
  }
  .proj-container{
    width: 300px;
  }
  .medium-container{
    margin-top: 9px;
    margin-bottom: 18px;
    margin-right: 2px;
  }
  .medium-container:hover{
    margin-top: 9px;
    margin-bottom: 18px;
    margin-right: 2px;
  }

}






/*------------- sobrr page -----------*/

.project-page-icon {
  width: 80px;
  height: 80px;
  margin-top: 2%;
  margin-left: 2%;
}

.project-page-title {
  font-family: 'Lato', sans-serif;
  font-size: 150%;
  color: #000;
  margin-top: 4%;
  margin-bottom: 4%;
}

.project-page-subtitle {
  font-family: 'Libre Baskerville', 'Georgia', serif;
  font-size: 62%;
  color: #000;
  margin-top: 0%;
  margin-bottom: 2%;
}

.project-page-text {
  font-family: 'Libre Basketville', 'Georgia', serif;
  font-size: 52%;
  color: #000;
  margin-top: 0%;
  margin-bottom: 4%;
  list-style-type: disc;
}

.project-page-text a {
  color: #2384d1;
  text-decoration: none;
}

.project-page-text a:hover, a:focus {
  text-decoration: underline;
}

ul.project-page-text li {
  width: auto;
  float: left;
  margin-left: 5%;
}