body {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 32px;
}

a {
  color: inherit;
  font-weight: 400;
}
a:hover,a:focus {
  color: inherit;
  text-decoration: underline;
}

.spacer-20{
  height: 20px;
  width: 100%;
}

.spacer-50{
  height: 50px;
  width: 100%;
}

.spacer-90{
  height: 90px;
  width: 100%;
}

.spacer-180{
  height: 180px;
  width: 100%;
}

.spacer-300{
  height: 300px;
  width: 100%;
}

/*------------ main page ------------*/

.model-background{
  background:
    linear-gradient(
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.3)),
    url(https://cloud.githubusercontent.com/assets/5771544/8023278/60005ca0-0cb9-11e5-9cb8-890053b14956.jpg)
    no-repeat
    center
    center;
  background-size: cover;
  background-attachment: fixed;
}

.hello{
  font-family: 'Pacifico';
  font-size: 300%;
  font-weight: 100;
  color: #fff;
  letter-spacing: 6px;
  text-align: center;
}

.hello2{
  font-size: 50%;
  font-weight: 400;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
}

.bio span{
  background: #FFD500;
  box-shadow: 8px 0 0 #FFD500,-8px 0 0 #FFD500;
  -moz-box-shadow: 8px 0 0 #FFD500,-8px 0 0 #FFD500;
  -webkit-box-shadow: 8px 0 0 #FFD500,-8px 0 0 #FFD500;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 90%;
  font-weight: 300;
  color: #000;
  letter-spacing: 0.3px;
  line-height: 65px;
}

.white-background{
  background-color: #fff;
  position: relative;
}

.project-title{
  font-size: 90%;
  font-weight: 100;
}

.project-company{
  font-weight: 400;
  font-size: 50%;
  margin-bottom: 20px;
}

.project-description{
  color: #999;
  font-size: 50%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.personal{
  font-weight: 300;
  font-size: 60%;
}

.yellow-background{
  background-color: #FFD500;
  position: relative;
}

.social-buttons-container{
  text-align: center;
  font-size: 140%;
}

.social-buttons-container a{
  color: #fff;
}

.social-buttons-container a:hover{
  color: #000;
  text-decoration: none;
}

.medium-container{
  background:
    url('fonts/icon-medium-w.svg')
    no-repeat
    center
    center;
  height: 38px;
  margin-top: 10px;
}

.medium-container:hover{
  background:
    url('fonts/icon-medium-b.svg')
    no-repeat
    center
    center;
  height: 38px;
  margin-top: 10px;
}




/*

.personal-image {
  margin: auto;
  width: 400px;
  height: 400px;
  background-image: url('https://cloud.githubusercontent.com/assets/5771544/9319313/0dc2b1a0-4502-11e5-8a89-a9e18f392a10.JPG');
  background-size: cover;
  background-position: center;
  display: block;
  border-radius: 50%;
  margin-top: 10%;
}

.sobrr-background {
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/9020038/cd7d2960-37ad-11e5-82e2-9a1fa74027d4.png)
    no-repeat
    center
    center;
  background-size: cover;
  position: relative;
}

.watershed-background {
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/10743895/46219980-7bf3-11e5-8d2c-140d6342e531.png)
    no-repeat
    center
    center;
  position: relative;
  background-size: cover;
}

.quad-background{
  background:
    url(https://cloud.githubusercontent.com/assets/5771544/10744062/82175528-7bf4-11e5-8bdc-074815517229.png)
    no-repeat
    center
    center;
  position: relative;
  background-size: cover;
}

.compiling-background{
  background:
    linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)),
    url(https://cloud.githubusercontent.com/assets/5771544/9301515/e984aeb6-4483-11e5-97a8-ef3e6231a43e.png)
    no-repeat
    center
    center;
  position: relative;
  background-size: cover;
}

.video-container {
  margin-top: 25%;
}

.video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact2-background{
  background: #f4f4f4;
  position: relative;
}

.contact-text a{
  color: #D5433D;
}

.social-text{
  font-family: 'Merriweather';
  font-size: 100%;
  color: #ababab;
  border-radius: 20px;
  letter-spacing: -2px;
  margin-bottom: 5%;
}

.social-text a{
  color: #000;
  font-weight: 500;
}

*/

/*------------- screen sizes -----------*/

/* --- tablet --- */

@media only screen and (min-width:40.0625em) and (max-width:64em){

  .spacer-20{
    height: 18px;
    width: 100%;
  }
  .spacer-50{
    height: 45px;
    width: 100%;
  }
  .spacer-90{
    height: 70px;
    width: 100%;
  }
  .spacer-180{
    height: 160px;
    width: 100%;
  }
  .spacer-300{
    height: 180px;
    width: 100%;
  }

  .hello{
    font-size: 260%;
    letter-spacing: 5px;
  }
  .hello2{
    font-weight: 300;
    letter-spacing: 8px;
  }
  .bio {
    padding: 24px;
  }
  .bio span{
    font-size: 70%;
    line-height: 60px;
  }
  .project-title, .project-company, .project-description, .personal{
    padding-left: 9px;
  }

}

/* --- phone --- */

@media only screen and (max-width: 40em) {

  .spacer-20{
    height: 15px;
    width: 100%;
  }
  .spacer-50{
    height: 40px;
    width: 100%;
  }
  .spacer-90{
    height: 60px;
    width: 100%;
  }
  .spacer-180{
    height: 140px;
    width: 100%;
  }
  .spacer-300{
    height: 120px;
    width: 100%;
  }
  .spacer-20-small{
    height: 20px;
    width: 100%;
  }

  .model-background{
    background: none;
    background-size: none;
    background-attachment: none;
  }
  .model-background-small{
    background:
      linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
      url(https://cloud.githubusercontent.com/assets/5771544/8023278/60005ca0-0cb9-11e5-9cb8-890053b14956.jpg)
      no-repeat
      center
      center;
    position: relative;
    background-size: cover;
  }
  .hello{
    font-size: 200%;
    letter-spacing: 4px;
  }
  .hello2{
    font-weight: 300;
    font-size: 40%;
    letter-spacing: 4px;
  }
  .bio {
    padding: 24px;
  }
  .bio span{
    font-size: 70%;
    line-height: 60px;
  }
  .project-title, .project-company, .project-description, .personal{
    padding-left: 12px;
  }
  .medium-container{
    margin-top: 9px;
    margin-bottom: 18px;
    margin-right: 2px;
  }
  .medium-container:hover{
    margin-top: 9px;
    margin-bottom: 18px;
    margin-right: 2px;
  }

}





/*------------- sobrr page -----------*/

.project-page-icon {
  width: 80px;
  height: 80px;
  margin-top: 2%;
  margin-left: 2%;
}

.project-page-title {
  font-family: 'Lato', sans-serif;
  font-size: 150%;
  color: #000;
  margin-top: 4%;
  margin-bottom: 4%;
}

.project-page-subtitle {
  font-family: 'Libre Baskerville', 'Georgia', serif;
  font-size: 62%;
  color: #000;
  margin-top: 0%;
  margin-bottom: 2%;
}

.project-page-text {
  font-family: 'Libre Basketville', 'Georgia', serif;
  font-size: 52%;
  color: #000;
  margin-top: 0%;
  margin-bottom: 4%;
  list-style-type: disc;
}

.project-page-text a {
  color: #2384d1;
  text-decoration: none;
}

.project-page-text a:hover, a:focus {
  text-decoration: underline;
}

ul.project-page-text li {
  width: auto;
  float: left;
  margin-left: 5%;
}